@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Poppins, Roboto, Helvetica;
}

body {
	background: #111;
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section h1 {
	top: 120px;
	position: absolute;
	color: #fff;
	text-align: center;
	font-size: calc(4.73em + 12vmin);
}

section h4 {
	margin-left: 1vw;
	margin-right: 1vw;
	top: 11em;
	position: absolute;
	text-align: center;
	color: #fff;
	font-size: calc(1.4em + 1vmin);
}

section h5 {
	margin: 1vw;
	margin-top: 29em;
	position: absolute;
	color: #fff;
	font-size: calc(.88em + .2vmin);
	text-align: center;
}

.socials {
	height: 35px;
	width: 35px;
	position: absolute;
	object-fit: fill;
	top: 20px;
}

#github {
	margin-left: 12em;
}

#twitter {
	margin-left: -12em;
}

#roblox {
	margin-left: -4em;
}

#discord {
	margin-left: 4em;
}
