@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Poppins);
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins, Roboto, Helvetica;
}

body {
    background: #111;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section h2 {
    margin-top: 15em;
    position: relative;
    color: #fff;
    font-size: 12em;
}

section h4 {
    margin-top: 20em;
    position: absolute;
    color: #fff;
    font-size: 2em;
}

section h5 {
    margin-top: 25em;
    position: absolute;
    color: #fff;
    font-size: 1em;
}

#github {
    height: 32px;
    width: 33px;
    position: absolute;
    object-fit: fill;
    margin-top: 30em;
    margin-left: 12em;
}

#twitter {
    height: 29px;
    width: 36px;
    position: absolute;
    object-fit: fill;
    margin-top: 30em;
    margin-left: -12em;
}

#roblox {
    height: 33px;
    width: 33px;
    position: absolute;
    object-fit: fill;
    margin-top: 30em;
    margin-left: -4em;
}

#discord {
    height: 27px;
    width: 36px;
    position: absolute;
    object-fit: fill;
    margin-top: 30em;
    margin-left: 4em;
}
